{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% include'fixed/nav_two.html.twig' %}
    <div class="background-image-one"></div>
    <div class="content">
        <div class="form-one">
            <div class="custom-title-one custom-title-one-form">
                <h3>Mot de passe</h3>
                <img src="{{ asset('picture/title/title-feather.png') }}" alt="" class="title-h3">
            </div>
            {{ form_start(form) }}
            {{ form_row(form.plainPassword)}}
            {{ form_row(form.submit, { 'label': 'Changer Mot de passe'}) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}

        </div>
        {% include'fixed/footer_two.html.twig' %}
    </div>
{% endblock %}
