{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
    {% include'fixed/nav_two.html.twig' %}
    <div class="background-image-one"></div>
    <div class="content">
        <div class="form-one">

        <div class="custom-title-one custom-title-one-form">
            <h3>Mise à jour vin</h3>
            <img src="{{ asset('picture/title/title-bootle.png') }}" alt="" class="title-h3">
        </div>
        <a href="{{ path('app_user', { 'id' : app.user.id}) }}">
            <button type="button" class="button-return-two">
                <img src="{{ asset('picture/icones/arrow_back.png') }}" alt="">
            </button>
        </a>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.title, { 'label': 'Titre'}) }}
            {{ form_row(form.year, { 'label': 'Année'}) }}
            {{ form_row(form.price, { 'label': 'Prix'}) }}
            {{ form_row(form.description) }}
            {{ form_row(form.picture) }}
            {{ form_row(form.submit, { 'label': 'Mettre à jour'}) }}
            {{ form_end(form) }}
        </div>
        {% include'fixed/footer_two.html.twig' %}
    </div>
{% endblock %}
